
.bdy{
 border: 0px;
 display: inline-block;
 text-align: center;
}
.nav,#b{
    text-align: center;
}
#one {
    list-style-type: none;
  /* margin-right: 20px; */
  padding: 10;
  margin-top: 10px;
  text-decoration: none;
  color: black;
   position: sticky; 
  /* text-align: center; */
  display: inline-block;
  /* align-items: center; */
}
#navid{margin-top: 30px;
text-align: center;}
#bdy{
    text-align: center;
    font-weight: 50;
    font-size: 40px;
    margin-top: 80px;
}
#bdy1{
    color: rgb(206, 11, 11);
    font-weight: 600;
}
#bdy2{
    text-align: center;
    /* font-weight: 50; */
    font-size: 20px;
    margin-top: 30px;
}
#btn1{
    border: 0px;
    background-color: rgb(186, 8, 8);
    border-radius: 14px;
    padding: 8px;
     margin-left: 3%;
    /* padding-right: 14px; */ 
    color: white;
    cursor: pointer;
}
#btn2{
    border: 1px solid grey;
    background-color: white;
    border-radius: 14px;
    padding: 8px;
     /* margin-right: 24%; */
    /* padding-right: 14px; */ 
    color: grey;
    width: 140px;
    margin-left: 01%;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 90px;
    cursor: pointer;
} ul li{
    cursor: pointer;
    align-items:center;
}
#btn22{
    text-align: center;
}
#b{
    background-image: url("mid.jpg");
    height:700px;
    margin-top: -200px;
    background-repeat: no-repeat;
    background-position:center;
     /* margin-left: 220px;  */
    width: 100%;
    text-align: center;
}
#p1{
    font-size: 30px;
    text-align: center;
    margin-top: -10px;
}
div.a,div.a2
{
    display: inline-block;
    align-items: center;
  
}
 .a{
     /* margin: 52px; */
     border: 2px solid rgb(196, 192, 192);
     height: 300px;
     width: 170px;
     /* text-align: center; */
     text-align: center;
     padding-left: 25px;
     padding-right: 25px;
     font-size: 14px;
     cursor: pointer;
     margin-right: 8px;
}
.a2{
 border: 0px;
     height: 200px;
     width: 170px;
     /* text-align: center; */
     text-align: justify;
     padding-left: 25px;
     padding-right: 25px;
     font-size: 14px;
     margin-right: 8px;
     background-color: white;
} 
.x{
    font-size:20px;
    margin-left: 60px;
    margin-right: 60px;
}
.cl2{
    border: 0px;
    /* background-color: lightgrey; */
    border-radius: 4px;
    /* color: darkslategray; */
    vertical-align: middle;
    margin: 4px;
   
width: 35%;
height: 410px;
float: right;
}
.r{
    display: inline;
    padding-left: 40px;
    vertical-align: middle;
   font-weight: bolder;
}
.rr{
    padding-left: 40px;
}
li {
  float:right;
}

li a {
  display: block;
  /* position:absolute; */
  padding: 8px;
  
  /* height: 30px; */
  /* background-color: #dddddd; */
}
.im{
    height:40%;
    width:30%;
    text-align: center;
    /* display:flex;
    align-self: center; */
}
.parent{
    text-align: center;
}
#o1,#o2,#o3,#o4{
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}
#i1,#i2,#i3,#i4{
    /* font-weight: bolder; */
    font-size: 16px;
    text-align: center;
}
.parents{
    text-align: center;
    border: 0px;
}
#btn2:hover,#btn1:hover{
    background-color: rgb(119, 3, 181);
    color: white;
}
.a:hover{
    height: 300px;
    background-color:aliceblue;
}
.last{
    text-align: end;
}
